* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.row {
  display: flex;
  margin: 0 auto;
  align-items: center;
  width: 90%;
  padding: 5px;
  flex-wrap: wrap;
}

.column {
  flex: 25%;
  padding: 5px;
}
.column img {
  margin-top: 5px;
  border-radius: 5px;
}

.column img:hover {
  transform: scale(1.1, 1.1);
}
@media (max-width: 800px) {
  .column {
    flex: 50%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
  }
}
